# Statistics for Data scientists And Data visualisation

**Learning outcome**
1. Mean
2. Median
3. Mode
4. Percentile
5. Deviations
6. Variance
7. Standard deviations
8. BoxPlot
9. Histogram
10. Bar charts
11. Pie charts
12. Scatterplot
13. Correlation
14. Correlation Coefficient
15. correlation Matrix

In [1]:
file_path = 'iris.csv'

In [2]:
#Dataset read
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(file_path)

In [4]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.4           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.3          0.2     setosa
4             5.1          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
import statistics as stat

**Mean**

In [6]:
stat.mean(df['sepal_length'])

5.844

**Median**

In [7]:
stat.median(df['sepal_length'])

5.8

**Mode**

In [8]:
stat.mode(df['sepal_length'])

5.1

**Percentile**

In [9]:
np.percentile(df['sepal_length'], 50)

5.8

In [10]:
df['sepal_length'].quantile([0.05,0.25,0.5,0.75])

0.05    4.6
0.25    5.1
0.50    5.8
0.75    6.4
Name: sepal_length, dtype: float64

**Variance**

In [11]:
stat.variance(df['sepal_length'])

0.6846281879194631

**Standard Deviations**

In [12]:
x = np.std(df['sepal_length'])

print(x)

0.8246599299105056

In [13]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.844000     3.056667      3.757333     1.198667
std        0.827423     0.434489      1.766213     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000