# Introduction of data mining

**How to Connect dataset with Notebook**

# 01
from google.colab import drive
drive.mount('/content/drive')

file_path='/content/drive/MyDrive/Data mining and Machine learning/heart.csv'

In [1]:
#02
file_path = 'iris.csv'

In [2]:
#Dataset read
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(file_path)

In [4]:
#show dataset

df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.4           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.3          0.2     setosa
4             5.1          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
# show dataset 

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.4           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.3          0.2  setosa
4           5.1          3.6           1.4          0.2  setosa

In [6]:
# show dataset 

df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [7]:
#df.loc[row, colums]

df.loc[3]

sepal_length       4.6
sepal_width        3.1
petal_length       1.3
petal_width        0.2
species         setosa
Name: 3, dtype: object

In [8]:
#specific one value
#df.loc[row_number,colums_name]

#df.loc[3,2]

#df.loc[3,'sepal_width']

In [9]:
#show 0-4 row value
df.loc[0:4]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.4           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.3          0.2  setosa
4           5.1          3.6           1.4          0.2  setosa

In [10]:
#specific 0-4 colums value
df.loc[0:4,'sepal_width']

0    3.5
1    3.4
2    3.2
3    3.1
4    3.6
Name: sepal_width, dtype: float64

In [11]:
#specific 0-4 multiple_colums value
df.loc[0:4,['sepal_width','petal_length']]

   sepal_width  petal_length
0          3.5           1.4
1          3.4           1.4
2          3.2           1.3
3          3.1           1.3
4          3.6           1.4

In [12]:
#iloc is index base
df.iloc[0:4,0:3]

   sepal_length  sepal_width  petal_length
0           5.1          3.5           1.4
1           4.9          3.4           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.3

In [13]:
#dataset type
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [14]:
#dataset all information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [15]:
#Check null value in dataset 
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [16]:
#max value in a colums
max(df.sepal_length)

7.9

In [17]:
#min value in a colums
min(df.sepal_length)

4.3

In [18]:
#find unique value from giving dataset
pd.unique(df['sepal_length'])

array([5.1, 4.9, 4.7, 4.6, 5.4, 5. , 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [19]:
data = df['species'].value_counts()

'''name = data.index
count = data.values'''
print(data)

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64